
german/experiments/1-german-ordering/results/new_map_data.json
italian/experiments/1-order-preference/.Rhistory
italian/experiments/1-order-preference-postnominal/.Rhistory
italian/experiments/2-order-preference-all-orders/.Rhistory
italian/experiments/2-order-preference-all-orders/reimbursement/Prolific_Invoice_2023-08-23_64e649b97fe128ccc5b82f48.pdf
italian/experiments/2-order-preference-all-orders/reimbursement/prolific_summary_detailed_64e6460ffd89000342b57363.pdf
italian/experiments/2-order-preference-all-orders/reimbursement/IRB-exempt.pdf
italian/writing/~$G_Adjective Ordering in Italian.gcs.docx
italian/writing/IGG_Adjective Ordering in Italian.gcs.docx
italian/corpus/new_testnp.csv
italian/corpus/new_testpair.csv
italian/corpus/output_with_pmi.csv
italian/experiments/3-order-preference-all-between/reimbursement/IRB-exempt.pdf
italian/experiments/3-order-preference-all-between/results/.Rhistory
italian/experiments/2-order-preference-all-orders/results/.Rhistory
italian/experiments/2-order-preference-all-orders/results/.Rhistory
italian/experiments/3-order-preference-all-between/.Rhistory
